<div class="news">
  <h3><b>news</b></h3>
  <hr>
  <div class="row">
    {% assign news = site.news | reverse %}
  	{% for item in news limit: site.news_limit %}
  	<div class="col-lg reduced-gutter">
  		  <div class="pad-left">
  			     <div class="note">
          				<i class="fas fa-bullhorn"></i> &nbsp;
                  {% if item.inline %}
                    {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                  {% else %}
                     <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                  {% endif %}
                  <div class="smallspacer"></div>
             		  <div class="smallnote">
             				{{ item.date | date: "%Y-%m-%d" }}
       			      </div>
  			     </div>

  			      <div class="bigspacer"></div>
  		    </div>
  	</div>
  	{% endfor %}
  </div>
</div>
