<div class="pubs">
  <h3><b>recent publications</b></h3>
  <hr>


  <div class="table-responsive">
    <table class="table table-sm table-borderless">

      {% bibliography --template

        <div class="row">
         <tr>
          <td scope="row"><i class="fa fa-file-alt"></i></td>

          <td>
            <a href="https://doi.org/{{ entry.doi }}" target="_blank"> {{entry.first}} <i>et al.</i>, {{entry.iso}}
              <strong>{{entry.volume}}</strong> {{entry.pages}} ({{entry.year}})</a>
          </td>
        </tr>
        </div>
         --max 3 %}

    </table>
  </div>

</div>
