<div class="news">
  <h3><b>recent publications</b></h3>
  <hr>

  <div class="row">
  {% assign pubs = site.data.pubs %}
  {% for item in pubs limit: 3 %}
  <div class="col-lg reduced-gutter">
      <div class="pad-left">
           <div class="note">
             <i class="far fa-file-alt"></i> &nbsp;
            <a href="https://doi.org/{{ item.doi }}" target="_blank"> {{item.author}} <i>et al.</i>, {{item.iso}}
                 <strong>{{item.volume}}</strong> {{item.page}} ({{item.year}})</a>

           </div>

            <div class="bigspacer"></div>
        </div>
  </div>
  {% endfor %}
  </div>


  </div>
