---
layout: default
---

<div class="post">
  <header class="post-header">
    {% assign name = site.title | split: ' ' %}
    <h2 class="post-title">{{ name | first }} <span class="font-weight-bold">{{ name | last }}</span></h2>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

       <article>

         <div class="clearfix">
           <center>
           </center>
           {{ content }}
         </div>
    <br>
    {% if page.news %}
      {% include news.html %}
    {% endif %}
    <br>
    {% if page.pubs %}
      {% include pubs.html %}
    {% endif %}
    <br>
    {% if page.posts %}
       {% include blog_posts.html %}
    {% endif %}


<!--
    {% if page.social %}
    <div class="social">
      {% include social.html %}
      <div class="contact-note"> {{ site.contact_note }}</div>
    </div>
    {% endif %}

    <br>
    -->



    <div class="social">
      <img  src="{{ site.baseurl }}/assets/img/SMU_logo.png" width="40%" alt="" title=""/>

        <br>
        <br>
        <div class="contact-note"> {{ site.contact_note }}</div>
          {% include social.html %}
    </div>

  </article>

</div>
