---
layout: default
---

<div class="post">
  <header class="post-header">
    {% assign name = site.title | split: ' ' %}
    <h2 class="post-title">{{ name | first }} <span class="font-weight-bold">{{ name | last }}</span></h2>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

       <article>

         <div class="clearfix">
           <center>
           </center>
           {{ content }}
         </div>
    <br>
    {% if page.news %}
      {% include news.html %}
    {% endif %}
    <br>
    {% if page.pubs %}
      {% include pubs.html %}
    {% endif %}
    <br>
    {% if page.posts %}
       {% include blog_posts.html %}
    {% endif %}


    {% if page.social %}
    <div class="social">
      {% include social.html %}
      <div class="contact-note"> {{ site.contact_note }}</div>
    </div>
    {% endif %}

    <br>



    <div class="social">
        <img  src="https://images.squarespace-cdn.com/content/v1/56a7b5951c1210756e3465c1/1622581032059-1WHQHAVF4RSG42Y3XAP0/SMU_Logo_4C.png?format=200w" alt="" title=""/>
        <br>
        <br>
        <div class="contact-note"> {{ site.contact_note }}</div>
    </div>

  </article>

</div>
