<div class="col-lg reduced-gutter">
  <div class="pad-left">
    <div class="note">
      <i class="far fa-file-alt"></i> &nbsp;
      {% if entry.doi %}
        <a href="https://doi.org/{{ entry.doi }}" target="_blank">
      {% endif %}
      {% assign author_count = entry.author_array | size %}
      {% assign first_author = entry.author_array[0] %}
      {% assign first_initial = first_author.first | slice: 0, 1 %}
      {% if author_count > 1 %}
        {{ first_initial }}. {{ first_author.last }} <i>et al.</i>,
      {% else %}
        {{ first_initial }}. {{ first_author.last }},
      {% endif %}
      {{ entry.iso }}
      {% if entry.volume %}<strong>{{ entry.volume }}</strong>,{% endif %}
      {% if entry.pages %} {{ entry.pages }}{% endif %}
      ({{ entry.year }})
      {% if entry.doi %}
        </a>
      {% endif %}
    </div>
    <div class="bigspacer"></div>
  </div>
</div>
